<!DOCTYPE html>
<html>
<title>Bayqaw: Proximity</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <span class="w3-bar-item w3-right">Bayqaw "Proximity"</span>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:0px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Data in Seoul City</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-share w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{in_main_num2}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>In main</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-address-card w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>0</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Managers</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{move}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Movements</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>1</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Workers</h4>
      </div>
    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <h5>Map</h5>

        <div class="w3-full">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-home w3-xxxlarge"></i></div>
        <div class="w3-right">
        <h4>In main</h4>
        </div>
        <div class="w3-clear"></div>
        <p>{{in_main2}}</p>
      </div>
    </div>
    <br>
    <div class="w3-full">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-building w3-xxxlarge"></i></div>
        <div class="w3-right">
        <h4>In extra</h4>
        </div>
        <div class="w3-clear"></div>
        <p>{{in_extra2}}</p>
      </div>
    </div>

      </div>





      <div class="w3-twothird">
        <h5>Feeds</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
            <td>New manager in the building.</td>
            <td><i>10 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
            <td>Error in the building.</td>
            <td><i>15 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
            <td>Meeting in the main room.</td>
            <td><i>17 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
            <td>New information from top-management.</td>
            <td><i>25 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
            <td>Building success.</td>
            <td><i>28 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
            <td>New path for users.</td>
            <td><i>39 mins</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>General Stats</h5>
    <p>Managers location in the main room</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:96%">+96%</div>
    </div>

    <p>Users location efficiency</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-orange" style="width:43%">43%</div>
    </div>

    <p>Users location in the main room</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:77%">77%</div>
    </div>
  </div>
  <hr>
  <hr>
  <div class="w3-container">
    <h5>Users</h5>
    <ul class="w3-ul w3-card-4 w3-white">
      <li class="w3-padding-16">
        <i class="fa fa-user w3-xxxlarge"></i>
        <span class="w3-xlarge">Arman Kaisarov [manager]</span><br>
      </li>
      <li class="w3-padding-16">
        <i class="fa fa-user w3-xxxlarge"></i>
        <span class="w3-xlarge">Aizat Armanov [worker]</span><br>
      </li>
    </ul>
  </div>
  <hr>

  <div class="w3-container">
    <h5>Information about movement</h5>
    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <i class="fa fa-user w3-xxxlarge"></i>
      </div>
      <div class="w3-col m10 w3-container">
        <h4>Aizat Armanov [worker] <span class="w3-opacity w3-medium">Sep 29, 2018, 9:12 PM</span></h4>
        <p>Moved from [Main room] to [Extra room]</p><br>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <i class="fa fa-user w3-xxxlarge"></i>
      </div>
      <div class="w3-col m10 w3-container">
        <h4>Arman Kaisarov [manager] <span class="w3-opacity w3-medium">Sep 28, 2018, 10:15 PM</span></h4>
        <p>Moved from [Extra room] to [Main room]</p><br>
      </div>
    </div>
  </div>
  <br>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>
